<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header')%>
    <title><%= Titulo %></title>
</head>
<body>
    <%- include('partials/Nav')%>
    <%- include('partials/navegacion')%>
    <p>aña</p>

    <main>
        
    </main>

<div class="container-fluid" style="padding: 50px ;">
    <div class="row" style="width: 100%;">
        <div class="col-sm-3" style="padding-bottom:15px ;">
          <div class="card bg-dark">
            <div class="card text-center">
                <div class="card-header">
                  Featured
                </div>
                <img src="/img/fasasf.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Ir al articulo</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card" >
              <div class="card text-center">
                  <div class="card-header">
                    Featured
                  </div>
                  <img src="/img/fasasf.png" class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Ir al articulo</a>
                  </div>
                  <div class="card-footer text-muted">
                    2 days ago
                  </div>
                </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card text-center">
                  <div class="card-header">
                    Featured
                  </div>
                  <img src="/img/fasasf.png" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Ir al articulo</a>
                  </div>
                  <div class="card-footer text-muted">
                    2 days ago
                  </div>
                </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card text-center">
                  <div class="card-header">
                    Featured
                  </div>
                  <img src="/img/fasasf.png" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Ir al articulo</a>
                  </div>
                  <div class="card-footer text-muted">
                    2 days ago
                  </div>
                </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card text-center">
                  <div class="card-header">
                    Featured
                  </div>
                  <img src="/img/fasasf.png" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Ir al articulo</a>
                  </div>
                  <div class="card-footer text-muted">
                    2 days ago
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>


</body>
</html>